.fixedSideBar {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  z-index: 1000;
}
.fixedSideBar .sideBar {
  width: 2rem;
  align-items: center;
  display: flex;
  margin: 0.5rem;
  flex-direction: column;
}
